<mat-card class="w-100">
  <mat-card-content>
    <h4 class="mb-56">Edit Form</h4>
    <form [formGroup]="form" (ngSubmit)="edit()">
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Pcid</mat-label>
        <input matInput formControlName="pcid" [(ngModel)]="data.pcid" />
        <mat-error *ngIf="handleError('pcid', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Pcname</mat-label>
        <input matInput formControlName="pcname" [(ngModel)]="data.pcname" />
        <mat-error *ngIf="handleError('pcname', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Edit</button>
    </form>
  </mat-card-content>
</mat-card>
