<mat-card class="w-100">
  <mat-card-content>
    <h4 class="mb-56">Add User Form</h4>
    <form [formGroup]="form" (ngSubmit)="add()">
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Userid</mat-label>
        <input matInput formControlName="userid" />
        <mat-error *ngIf="handleError('userid', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="handleError('username', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Add</button>
    </form>
  </mat-card-content>
</mat-card>
