<mat-card class="w-100">
  <mat-card-content>
    <h4 class="mb-56">
      Add TeacherStudentEntityyyyyyyyyyyyyyyyyyyyyyyyyyy Form
    </h4>
    <form [formGroup]="form" (ngSubmit)="add()">
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Tsid</mat-label>
        <input matInput formControlName="tsid" />
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Tsname</mat-label>
        <input matInput formControlName="tsname" />
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button color="primary" (click)="back()">Back</button>
        <button mat-raised-button color="primary">Add</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
